<h1>Edit <%= resource %></h1>

<%= "<%= render 'form', #{resource}: @#{resource} %%>" %>

<br>

<hr>

<div class="text-center">
    <%= "<%= link_to 'Back', [:superuser, :#{resources}], class: 'btn btn-outline-secondary' %%>" %>
</div>
