<h1>New <%= resource %></h1>

<br>

<%= "<%= render 'form', #{resource}: @#{resource} %%>" %>

<br>
<hr>

<div class="text-center">
  <%= "<%= link_to 'Back', [:superuser, :#{resources}], class: 'btn btn-outline-secondary' %%>" %>
</div>
